@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #E8F3D6; /* Light sage green */
  color: #5A5A5A; /* Soft dark gray for text */
}

a {
  text-decoration: none;
  color: #7A9E9F; /* Muted teal */
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}